:root {
  --index: calc(1vh + 1vw);
  --main-dark-color: #2E5B70;
  --main-light-color: #A67842;
  --secondary-dark-color: #B7CCD6;
  --secondary-light-color: #FFF2E3;
  --first-click-color: rgb(170, 255, 153, 0.5);
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}