.board-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.black-move,
.black-move img,
.black-move .data-cell {
  transform: rotate(180deg);
}

.board-screen-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;

}

.board-container .num-column {
  display: grid;
  grid-template-rows: repeat(10, 10%);
  width: calc(var(--index)*2);
}

.board-container .num-column div {
  text-align: center;
}

#board {
  display: grid;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(8, 12.5%);
  gap: 0px;
  max-width: 80%;
}

.data-cell {
  text-align: center;
  margin: var(--idex);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:690px) {
  #board {
    max-width: 80%;
  }

}