.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: calc(var(--index)*3);
}



.b {
  background-color: var(--main-dark-color);
}

.w {
  background-color: var(--secondary-light-color);
}