.btn-primary.MainButton {
  background-color: var(--main-dark-color);
  font-size: 3vh;
  border-color: var(--main-dark-color);
  cursor: pointer;
}

.btn-primary.MainButton a {
  color: white;
  text-decoration: none;
}