.nav-bar {
  color: white;
}

.log-out {
  margin-top: 1.5vh;
  display: flex;
  flex-direction: row;
}

.log-out>.btn-primary.MainButton {
  margin-left: 10px;
  font-size: 15px;
  width: max-content;
  height: min-content;
}

.log-out p {
  padding: 5px;
}

.log-out span {
  font-size: large;
  font-weight: bold;
}